@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,500i,700,700i,900,900i&subset=latin-ext');

.container > div {
	justify-content: center;
	align-items: center;
}

html, body {
    font-family: 'Roboto', sans-serif;
	box-sizing: border-box;
	height: 100%;
	padding: 0px;
	margin: 0px;
	font-weight: 700;
    color: aliceblue;
}

.container {
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    background-color: #111;
    text-shadow: 5px 5px 10px black;
    color: #0f640f;
    text-align: center;
    display: grid;
    grid-gap: 0px;
    grid-template-columns: 12fr;
    grid-auto-rows: 10vh auto 10vh;
    grid-template-areas: "h h h h h h h h h h h h" 
        "c c c c c c c c c c c c" 
        "f f f f f f f f f f f f";
}

.header {
    grid-area: h;
    vertical-align: middle;
    background-color: #333;
    padding-top: 5px;
    letter-spacing: 5px;
    font-size: 8vh;
}


.footer {
    grid-area: f;
    vertical-align: middle;
    background-color: #333;
    padding-top: 5px;
    letter-spacing: 5px;
    font-size: 8vh;
    text-transform: uppercase;
    
}

.content {
    grid-area: c;
    vertical-align: middle;
    width: 100%;
   
}

.clock {
    padding-top: 1vw;
    margin: auto;
    font-size: 20vw;
    font-weight: 1000;
}

p.nevnap {
    margin: auto;
    font-size: 8vw;
    font-weight: 800;
}
