@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,500i,700,700i,900,900i&subset=latin-ext');
* {
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.main {  
  text-align: center;
  color: rgb(166, 103, 230);
  background-color: rgb(52, 6, 63);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.header, .footer {
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(39, 4, 48);
  height: 5vh;
  color: rgb(255, 255, 255);
  width: 100%;
  font-size: 4vh;
}

.data {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  font-size: 18vh;
  text-shadow: 5px 5px 5px rgb(41, 2, 34);
}
