@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,500i,700,700i,900,900i&subset=latin-ext');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@600&family=Oxanium:wght@700&family=Wallpoet&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-family: 'JetBrains Mono', monospace;
  justify-content: center;
  min-height: 100vh;
  min-width: 100vw;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: rgb(143, 206, 98);
  background-color: #245361;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.header,
.footer {
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #142e35;
  height: 7vh;
  font-size: 3vw;
}

.data {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  font-size: 10vw;
  text-shadow: 5px 5px 10px rgb(41, 2, 34);
}

#ora_van {
  font-size: 4vw;
  color: #aaa;
}

#clock-box {
  font-family: 'JetBrains Mono', monospace;
  margin-top: 1vw;
  margin-bottom: 1vw;
  font-size: 20vw;
}

#name-day {
  font-size: 3vw;
  color: #aaa;
}

.wtr {
  display: flex;
  align-items: center;
}

.wtr img {
  width: 6vw;
  height: 6vw;
}